.icon {
  height: 1.5rem;
  width: 1.5rem;

  background-color: currentColor;

  mask: linear-gradient(transparent, transparent) no-repeat center / contain;
  display: block;

  &.arrowRight {
    mask-image: url('./icons/arrow-right.svg');
  }

  &.arrowRightLong {
    mask-image: url('./icons/arrow-right-long.svg');
  }

  &.externalLink {
    mask-image: url('./icons/external-link.svg');
  }

  &.github {
    mask-image: url('./icons/github.svg');
  }

  &.iCircle {
    mask-image: url('./icons/i-circle.svg');
  }

  &.link {
    mask-image: url('./icons/link.svg');
  }

  &.list {
    mask-image: url('./icons/list.svg');
  }

  &.magnifyingGlass {
    mask-image: url('./icons/magnifying-glass.svg');
  }
}
