@use '../../fonts';
@use '../../colors';

.page {
  height: 80vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    position: relative;
    margin: 0 0 5rem;

    font-size: 4.5rem;

    @media (max-width: 800px) {
      font-size: 3rem;
    }
    @media (max-width: 520px) {
      font-size: 2rem;
    }

    &:before {
      content: '';
      position: absolute;
      top: .5em;

      width: 105%;
      height: .6em;

      @include colors.color(background, marker);

      z-index: -1;
    }

    display: inline-flex;
    flex-direction: column;
    align-items: center;

    .subtitle {
      @include fonts.sub-title;
      font-size: inherit;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;

  height: 6rem;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @media (max-width: 800px) {
    height: 10rem;
    justify-content: center;
    flex-direction: column;
  }

  a {
    color: currentColor;
    text-decoration: none;

    display: flex;
    align-items: center;

    @media (max-width: 800px) {
      line-height: 2;
    }

    .icon {
      margin-right: .5rem;
      margin-bottom: .1rem;
    }
  }
}
