@use '~normalize.css' as n;
@use 'fonts';
@use 'colors';

html, body {
  overflow: hidden;
  @media (max-width: 350px) {
    font-size: 14px;
  }
}

body {
  min-height: 100vh;

  font-feature-settings: "liga" on, "rlig" on, "dlig" on, "ccmp" on, "calt" on, "kern" on;
  @include fonts.text;
  line-height: 1.5;

  @include colors.color(background, background);
  @include colors.color(color, text);
}

h1 {
  @include fonts.title;
}

p {
  margin: 0 0 1rem;
}

a {
  @include colors.color(color, link);

  &:visited {
    @include colors.color(color, link-visited);
  }

  &[href^=http] {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: .1rem;
      right: -.9rem;

      height: .8em;
      width: .8em;

      background-color: currentColor;
      mask: url('./elements/Icon/icons/external-link.svg') no-repeat center / contain;
    }
  }
}

mark {
  position: relative;
  background: none;

  &:after {
    content: '';
    position: absolute;

    width: calc(100% + .4rem);
    height: .8rem;

    top: .4rem;
    left: -.2rem;

    @include colors.color(background, marker);

    z-index: -1;
  }
}
