@use 'sass:math';
@use '../../fonts';
@use '../../colors';

@function strip-s($value) {
  @return math.div($value, ($value * 0 + 1));
}

@mixin anchors {
  .anchorIcon {
    position: absolute;
    top: 0;
    left: -2.5rem;

    @media (max-width: 1080px) {
      left: -2rem;
    }

    @media (max-width: 440px) {
      left: -1.75rem;
    }

    padding: .4rem;

    $size: 1rem;
    height: $size;
    width: $size;

    mask-clip: content-box;
    mask-size: $size;

    @include colors.color(color, text, .5);

    cursor: pointer;
  }

  $animation-length: 3s;
  $fade-in-length: .3s;
  $fade-out-length: 1s;

  .linkCopiedMessage {
    position: absolute;
    bottom: 1.6rem;
    left: -5rem;

    @media (max-width: 1080px) {
      left: -2rem;
    }

    @media (max-width: 440px) {
      left: -1.75rem;
    }

    padding: .5rem .8rem;

    @include fonts.text;
    @include colors.color(background, text);
    @include colors.color(color, background);

    animation: linkCopiedMessageFadeInOut $animation-length ease both;
  }

  @keyframes linkCopiedMessageFadeInOut {
    from {
      opacity: 0;
    }

    #{math.div(strip-s($fade-in-length), strip-s($animation-length)) * 100%} {
      opacity: 1;
    }

    #{100% - math.div(strip-s($fade-out-length), strip-s($animation-length)) * 100%} {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }
}
