@use '../../fonts';
@use '../../colors';
@use './law-text.fragment' as lawText;
@use './table-of-contents.fragment' as tableOfContents;

$tableOfContentsWidth: 20rem;

@include tableOfContents.tableOfContents($tableOfContentsWidth);

.main {
  position: fixed;
  right: 0;
  top: 0;

  width: calc(100vw - #{$tableOfContentsWidth});
  height: 100vh;

  box-sizing: border-box;
  $paddingHorizontal: 8rem;
  padding: 4rem $paddingHorizontal;

  overflow-y: auto;
  scroll-behavior: smooth;

  .title {
    margin: 0 0 3rem;
  }

  .dateOfIssue {
    @include fonts.bold-text;
  }

  .arrow {
    position: relative;
    bottom: .1rem;

    height: 1rem;
    margin: 0 .5rem;
    vertical-align: middle;
    display: inline-block;

    mask-size: cover;
  }

  .info {
    margin-bottom: 3rem;

    summary {
      @include fonts.bold-text;
      cursor: pointer;
    }

    .key {
      display: block;
      margin-top: .5rem;
      text-decoration: underline;
    }

    pre {
      margin: 0;
      padding: 1rem 2rem 1rem 1rem;

      display: inline-block;
      font-size: .9rem;

      @include colors.color(background, text, .9);
    }
  }

  @include lawText.lawText($tableOfContentsWidth, $paddingHorizontal)
}
