@use '../../fonts';
@use '../../colors';
@use './anchors.fragment' as anchors;

@mixin lawText($table-of-contents-width, $padding-horizontal, $padding-horizontal-mobile) {
  .headline {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1rem;

    > * {
      margin-right: 1rem;
    }

    @include anchors.anchors;

    .supTitle {
      margin-bottom: .5rem;
      @include fonts.sup-heading;
    }
  }

  .heading2 {
    margin-top: 1.5rem;
    @include fonts.heading-2;

    .supTitle {
      font-weight: 700;
    }
  }

  .heading {
    .supTitle {
      display: block;
    }

    @include fonts.heading;

    .anchorIcon {
      top: auto;
      bottom: 0;
    }
  }

  .paragraph {
    max-width: 45rem;
  }

  table {
    margin: .5rem 0;

    width: calc(100vw - #{$table-of-contents-width} - #{$padding-horizontal} * 2);
    @media (max-width: 1080px) {
      width: calc(100vw - #{$padding-horizontal-mobile} * 2);
    }
    border-collapse: collapse;

    &.autoWidth {
      width: auto;
    }

    td, th {
      padding: .3rem;
    }

    &.tableBorder {
      td, th {
        padding: .3rem 1rem;
        border: 1px solid mix(colors.dark(text), colors.light(text), 50%);
      }
    }
  }

  dl {
    margin: .5rem 0;

    display: grid;
    grid: {
      template: {
        columns: auto 1fr;
      };
    };

    dd {
      margin-left: 1rem;
    }

    dt:empty + dd {
      margin-left: 0;
    }
  }

  pre {
    font-size: 0.9rem;
  }
}
