@use '../../fonts';
@use '../../colors';
@use './law-text.fragment' as lawText;
@use './table-of-contents.fragment' as tableOfContents;

$table-of-contents-width: 20rem;

@include tableOfContents.tableOfContents($table-of-contents-width);

.main {
  position: fixed;
  right: 0;
  top: 0;

  width: calc(100vw - #{$table-of-contents-width});
  @media (max-width: 1080px) {
    width: 100vw;
  }

  height: 100vh;

  box-sizing: border-box;

  $padding-horizontal: 8rem;
  $padding-horizontal-tablet: 3rem;
  $padding-horizontal-mobile: 2rem;
  padding: 4rem $padding-horizontal;
  @media (max-width: 1080px) {
    padding: 5rem $padding-horizontal-tablet;
  }

  @media (max-width: 440px) {
    padding: 5rem $padding-horizontal-mobile;
  }

  overflow-y: auto;
  scroll-behavior: smooth;

  .title {
    margin: 0 0 3rem;

    @media (max-width: 720px) {
      font-size: 2.5rem;
      word-break: break-word;
      hyphens: auto;
    }

    @media (max-width: 440px) {
      font-size: 2rem;
    }
  }

  .dateOfIssue {
    @include fonts.bold-text;
  }

  .arrow {
    position: relative;
    bottom: .1rem;

    height: 1rem;
    margin: 0 .5rem;
    vertical-align: middle;
    display: inline-block;

    mask-size: cover;
  }

  .info {
    margin-bottom: 2rem;

    summary {
      @include fonts.bold-text;
      cursor: pointer;
    }

    .key {
      display: block;
      margin-top: .5rem;
      text-decoration: underline;
    }

    pre {
      margin: 0;
      padding: 1rem 2rem 1rem 1rem;

      display: inline-block;
      font-size: .9rem;

      @include colors.color(background, text, .9);
    }
  }

  @include lawText.lawText($table-of-contents-width, $padding-horizontal, $padding-horizontal-tablet)
}
