@use '../../fonts';
@use '../../colors';

@mixin tableOfContents($table-of-contents-width) {
  .tableOfContents {
    position: fixed;
    left: 0;
    top: 0;

    height: 100vh;
    width: $table-of-contents-width;

    padding: 1rem 2rem;
    box-sizing: border-box;

    border-right: 1px solid;
    @include colors.color(border-color, text, .8);

    overflow-y: auto;

    @media (max-width: 1080px) {
      width: 100vw;
      height: 4rem;

      @include colors.color(background, background, .3);
      backdrop-filter: blur(50px);
      border: none;

      display: flex;
      align-items: center;
      justify-content: space-between;

      z-index: 1;
      overflow: visible;
    }

    .toggle {
      box-sizing: content-box;
      padding: 2px;

      @media (min-width: 1080px) {
        display: none;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 2rem 0 1rem;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @media (max-width: 1080px) {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(calc($table-of-contents-width + 2rem * 2));

        &.active {
          transform: translateX(0);
        }

        height: calc(100vh - 2rem * 2);
        padding: 2rem;

        border-left: 1px solid;
        @include colors.color(border-color, text, .8);
        @include colors.color(background, background);

        transition: transform .5s ease;

        overflow-y: auto;
        z-index: 1;
      }

      li {
        margin-bottom: .5rem;
        max-height: 3rem;

        white-space: nowrap;

        &.active {
          position: relative;

          &:after {
            content: '';
            position: absolute;

            width: 100%;
            height: .7rem;

            top: .7rem;
            left: -.5rem;

            @include colors.color(background, marker);

            z-index: -1;
          }
        }

        &.topLevel {
          text-decoration-line: underline;
          text-decoration-style: dashed;
          text-decoration-thickness: 1.5px;

          & ~ li:not(.topLevel) {
            margin-left: 1rem;
          }
        }

        a {
          @include colors.color(color, text);
          text-decoration: none;
        }
      }
    }
  }
}
